<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />

    <style>
      @font-face {
        font-family: "SF Pro Text";
        src: url("../static/images/public/FontsFree-Net-SFProText-Regular.ttf");
        font-weight: 400;
      }
      @font-face {
        font-family: "SF Pro Text";
        src: url("../static/images/public/FontsFree-Net-SFProText-Regular.ttf");
        font-weight: 500;
      }
      @font-face {
        font-family: "SF Pro Text";
        src: url("../static/images/public/FontsFree-Net-SFProText-Regular(1).ttf");
        font-weight: 600;
      }
      @font-face {
        font-family: "SF Pro Text";
        src: url("../static/images/public/FontsFree-Net-SFProText-Regular(1).ttf");
        font-weight: 700;
      }


    </style>
  </head>
  <body>
    <div class="macbook-pro-2">
      <div class="frame-parent">
        <div class="vector-wrapper">
          <img
            class="vector-icon"
            loading="lazy"
            alt=""
            src="../static/images/public/vector.svg"
          />
        </div>
        <div class="frame-group">
          <button class="frame-container">
            <div class="frame-wrapper">
              <div class="icon-parent">
                <img class="icon" alt="" src="../static/images/public/icon.svg" />

                <div class="subtree">
                  <div class="dashboard">DASHBOARD</div>
                </div>
              </div>
            </div>
            <div class="containerlet"></div>
          </button>
          <div class="frame-div">
            <div class="icon-group">
              <img class="icon1" alt="" src="../static/images/public/icon-1.svg" />

              <div class="siblings">
                <div class="projects">PROJECTS</div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper1">
            <div class="icon-container">
              <img class="icon2" alt="" src="../static/images/public/icon-2.svg" />

              <div class="my-tasks-wrapper">
                <div class="my-tasks">MY TASKS</div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper2">
            <div class="icon-parent1">
              <img class="icon3" alt="" src="../static/images/public/icon-3.svg" />

              <div class="calendar-wrapper">
                <div class="calendar">CALENDAR</div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper3">
            <div class="icon-parent2">
              <img class="icon4" alt="" src="../static/images/public/icon-4.svg" />

              <div class="time-manage-wrapper">
                <div class="time-manage">TIME MANAGE</div>
              </div>
            </div>
          </div>
          <button class="frame-button">
            <div class="icon-parent3">
              <img class="icon5" alt="" src="../static/images/public/icon-5.svg" />

              <div class="time-manage-container">
                <div class="time-manage1">TIME MANAGE</div>
              </div>
            </div>
          </button>
          <div class="frame-wrapper4">
            <div class="icon-parent4">
              <img class="icon6" alt="" src="../static/images/public/icon-6.svg" />

              <div class="settings-wrapper">
                <div class="settings">SETTINGS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="frame-main">
        <section class="frame-section">
          <div class="sibling-cluster-wrapper">
            <div class="sibling-cluster">
              <img class="iconsearch" alt="" src="../static/images/public/iconsearch.svg" />

              <input class="branching-tree" placeholder="Search" type="text" />
            </div>
          </div>
          <div class="rooted-tree">
            <div class="linked-list">
              <img class="icontips" alt="" src="../static/images/public/icontips.svg" />
            </div>
            <img
              class="value-holder-icon"
              loading="lazy"
              alt=""
              src="../static/images/public/ellipse-1@2x.png"
            />
          </div>
        </section>
        <form class="child-container">
          <div class="frame-parent1">
            <div class="frame-parent2">
              <div class="frame-parent3">
                <div class="frame-parent4">
                  <div class="google-favicon-logo-1-wrapper">
                    <img
                      class="google-favicon-logo-1"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/googlefaviconlogo-1@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper5">
                    <div class="google-parent">
                      <h3 class="google">Google</h3>
                      <div class="google-inc">Google inc.</div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper6">
                  <div class="iconcollection-parent">
                    <img
                      class="iconcollection"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/iconcollection.svg"
                    />

                    <img
                      class="iconmore"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/iconmore.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="root-splitter">
                <div class="branch-merger">
                  <div class="tree-splitter">
                    <b class="select-progress">SELECT PROGRESS</b>
                  </div>
                  <button class="high-priority-wrapper">
                    <b class="high-priority">HIGH PRIORITY</b>
                  </button>
                </div>
                <div class="value-comparator">
                  <div class="task-done">Task Done：</div>
                  <div class="div">25</div>
                  <div class="div1">/50</div>
                </div>
                <div class="rectangle-parent">
                  <div class="frame-child"></div>
                  <div class="synchronizer"></div>
                </div>
                <div class="variable-manager">
                  <button class="ios-app-wrapper">
                    <b class="ios-app">IOS APP</b>
                  </button>
                  <button class="splitter">
                    <b class="uiux">UI/UX</b>
                  </button>
                </div>
              </div>
              <div class="filter-filtering">
                <img
                  class="animation-animate-icon"
                  alt=""
                  src="../static/images/public/animation-animate@2x.png"
                />

                <img
                  class="gradient-graded-icon"
                  alt=""
                  src="../static/images/public/gradient-graded@2x.png"
                />

                <img
                  class="proximity-proxy-icon"
                  alt=""
                  src="../static/images/public/proximity-proxy@2x.png"
                />

                <img
                  class="filter-filtering-child"
                  alt=""
                  src="../static/images/public/ellipse-5@2x.png"
                />

                <img
                  class="shape-shaper-icon"
                  loading="lazy"
                  alt=""
                  src="../static/images/public/ellipse-6@2x.png"
                />

                <div class="interaction-interactor-parent">
                  <div class="interaction-interactor"></div>
                  <div class="effect-effects">+5</div>
                </div>
              </div>
              <button class="blend-blending">
                <b class="due-date-20">DUE DATE: 20 JUNE</b>
              </button>
            </div>
            <div class="animation-animateable">
              <div class="gradient-gradients">
                <div class="frame-parent5">
                  <div class="shape-shape-maker-parent">
                    <img
                      class="shape-shape-maker"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/frame-17.svg"
                    />

                    <div class="slack-parent">
                      <h3 class="slack">Slack</h3>
                      <div class="slack-corporation">Slack corporation</div>
                    </div>
                  </div>
                  <div class="conditional-branch">
                    <img
                      class="iconcollection1"
                      alt=""
                      src="../static/images/public/iconcollection.svg"
                    />

                    <img class="iconmore1" alt="" src="../static/images/public/iconmore.svg" />
                  </div>
                </div>
              </div>
              <div class="error-handler-parent">
                <div class="error-handler">
                  <div class="completed-wrapper">
                    <b class="completed">COMPLETED</b>
                  </div>
                  <button class="medium-priority-wrapper">
                    <b class="medium-priority">MEDIUM PRIORITY</b>
                  </button>
                </div>
                <div class="task-done-parent">
                  <div class="task-done1">Task Done：</div>
                  <div class="div2">20</div>
                  <div class="div3">/30</div>
                </div>
                <div class="rectangle-group">
                  <div class="frame-item"></div>
                  <div class="frame-inner"></div>
                </div>
                <div class="frame-parent6">
                  <button class="ios-app-container">
                    <b class="ios-app1">IOS APP</b>
                  </button>
                  <button class="android-wrapper">
                    <b class="android">ANDROID</b>
                  </button>
                </div>
                <div class="ellipse-parent">
                  <img
                    class="ellipse-icon"
                    alt=""
                    src="../static/images/public/animation-animate@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/images/public/gradient-graded@2x.png"
                  />

                  <img
                    class="frame-child2"
                    alt=""
                    src="../static/images/public/proximity-proxy@2x.png"
                  />

                  <img
                    class="frame-child3"
                    alt=""
                    src="../static/images/public/ellipse-5@2x.png"
                  />

                  <img
                    class="frame-child4"
                    alt=""
                    src="../static/images/public/ellipse-6@2x.png"
                  />

                  <div class="ellipse-group">
                    <div class="ellipse-div"></div>
                    <div class="div4">+5</div>
                  </div>
                </div>
              </div>
              <button class="due-date-15-july-wrapper">
                <b class="due-date-15">DUE DATE: 15 JULY</b>
              </button>
            </div>
          </div>
          <div class="frame-parent7">
            <div class="frame-parent8">
              <div class="frame-parent9">
                <div class="my-tasks-parent">
                  <h3 class="my-tasks1">My Tasks</h3>
                  <div class="div5">(05)</div>
                </div>
                <a href="/add-task">
                  <img
                    class="iconadd1"
                    loading="lazy"
                    alt=""
                    src="../static/images/public/iconadd.svg"/>

       </div>
              <div class="cardmissionuncompleted-parent">
                 {% for task in tasks %}
                <div class="cardmissionuncompleted">
                  <div class="parent">
                    <div class="div6">{{forloop.counter}}</div>
                    <div class="leaf-processor">
                      <div class="create-wireframe">{{ task.title }}</div>
                    </div>
                  </div>


                </div>
                  {% endfor %}
              </div>
            </div>
            <div class="frame-parent15">
              <div class="frame-parent16">
                <div class="google-wrapper">
                  <b class="google1">Google</b>
                </div>
                <div class="icon13">
                  <div class="icon-child"></div>
                  <img class="icon-item" alt="" src="../static/images/public/vector-11.svg" />
                </div>
              </div>
              <div class="cardgoogleplaying">
                <div class="cardgoogleplaying-child"></div>
                <div class="frame-parent17">
                  <div class="iconbelt-parent">
                    <img
                      class="iconbelt"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/iconbelt.svg"
                    />

                    <div class="create-wireframe-wrapper2">
                      <div class="create-wireframe6">Create Wireframe</div>
                    </div>
                  </div>
                  <div class="m-20s-parent">
                    <b class="m-20s">25m 20s</b>
                    <div class="icon-parent5">
                      <img class="icon14" alt="" src="../static/images/public/icon-13.svg" />

                      <img
                        class="iconmore2"
                        alt=""
                        src="../static/images/public/iconmore-2.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent18">
                <div class="slack-wrapper">
                  <b class="slack1">Slack</b>
                </div>
                <div class="icon15">
                  <div class="icon-inner"></div>
                  <img
                    class="icon-child1"
                    alt=""
                    src="../static/images/public/vector-11.svg"
                  />
                </div>
              </div>
              <div class="cardgooglepause">
                <div class="iconbelt-group">
                  <img class="iconbelt1" alt="" src="../static/images/public/iconbelt-1.svg" />

                  <div class="slack-logo-design-wrapper">
                    <div class="slack-logo-design">Slack Logo Design</div>
                  </div>
                </div>
                <div class="data-aggregator1">
                  <div class="m-0s">30m 0s</div>
                  <div class="icon-parent6">
                    <div class="icon16">
                      <div class="size-adjustor"></div>
                      <img
                        class="alignment-engine-icon"
                        alt=""
                        src="../static/images/public/vector-11.svg"
                      />
                    </div>
                    <img
                      class="iconmore3"
                      alt=""
                      src="../static/images/public/iconmore-2.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="squarifier-parent">
                <div class="squarifier">
                  <img class="iconbelt2" alt="" src="../static/images/public/iconbelt-1.svg" />

                  <div class="slack-logo-design-container">
                    <div class="slack-logo-design1">Dashboard Design</div>
                  </div>
                </div>
                <div class="symbol-generator">
                  <div class="m-0s1">30m 0s</div>
                  <div class="icon-parent7">
                    <div class="icon17">
                      <div class="rectangle-div"></div>
                      <img
                        class="blur-engine-icon"
                        alt=""
                        src="../static/images/public/vector-11.svg"
                      />
                    </div>
                    <img
                      class="iconmore4"
                      alt=""
                      src="../static/images/public/iconmore-2.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="pattern-applier-parent">
                <div class="pattern-applier">
                  <img class="iconbelt3" alt="" src="../static/images/public/iconbelt-1.svg" />

                  <div class="slack-logo-design-frame">
                    <div class="slack-logo-design2">Create Wireframe</div>
                  </div>
                </div>
                <div class="divider-maker">
                  <div class="m-0s2">30m 0s</div>
                  <div class="layer-stack">
                    <div class="icon18">
                      <div class="transformer"></div>
                      <img
                        class="parent-coordinator-icon"
                        alt=""
                        src="../static/images/public/vector-11.svg"
                      />
                    </div>
                    <img
                      class="iconmore5"
                      alt=""
                      src="../static/images/public/iconmore-2.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent19">
            <div class="frame-parent20">
              <div class="frame-wrapper7">
                <div class="frame-parent21">
                  <div class="jan-2021-wrapper">
                    <b class="jan-2021">Jan 2021</b>
                  </div>
                  <div class="instance-parent">
                    <img
                      class="frame-icon"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/frame-36.svg"
                    />

                    <img
                      class="frame-child5"
                      loading="lazy"
                      alt=""
                      src="../static/images/public/frame-36.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="calendar-parent">
                <div class="calendar1">
                  <div class="data-rerouter">
                    <div class="sun">SUN</div>
                  </div>
                  <div class="data-rerouter1">
                    <div class="div12">26</div>
                  </div>
                  <div class="data-rerouter2">
                    <div class="div13">02</div>
                    <div class="data-aggregator2">
                      <div class="logic-branch"></div>
                    </div>
                  </div>
                  <div class="function-tree-wrapper">
                    <div class="function-tree">09</div>
                  </div>
                  <div class="data-flow">
                    <div class="div14">16</div>
                    <img
                      class="data-flow-child"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="error-handler1">
                    <div class="iteration-loop">23</div>
                  </div>
                  <div class="user-input">
                    <div class="output-display">30</div>
                  </div>
                </div>
                <div class="calendar2">
                  <div class="sun-wrapper">
                    <div class="sun1">MON</div>
                  </div>
                  <div class="wrapper">
                    <div class="div15">27</div>
                  </div>
                  <div class="parent4">
                    <div class="div16">03</div>
                    <div class="ellipse-wrapper">
                      <div class="frame-child6"></div>
                    </div>
                  </div>
                  <div class="frame">
                    <div class="div17">10</div>
                  </div>
                  <div class="parent5">
                    <div class="div18">17</div>
                    <img
                      class="group-icon"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="wrapper1">
                    <div class="div19">24</div>
                  </div>
                  <div class="wrapper2">
                    <div class="div20">31</div>
                  </div>
                </div>
                <div class="calendar3">
                  <div class="path-processor">
                    <div class="sun2">TUE</div>
                  </div>
                  <div class="path-processor1">
                    <div class="vertex-processor">28</div>
                  </div>
                  <div class="path-processor2">
                    <div class="cycle-processor">04</div>
                    <div class="parallel-processor">
                      <div class="data-gatherer"></div>
                    </div>
                  </div>
                  <div class="function-tree1">
                    <div class="condition-checker">11</div>
                  </div>
                  <div class="loop-controller">
                    <div class="input-processor">18</div>
                    <img
                      class="loop-controller-child"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="output-generator">
                    <div class="error-handler2">25</div>
                  </div>
                  <div class="function-caller">
                    <div class="constant-holder">01</div>
                  </div>
                </div>
                <div class="calendar4">
                  <div class="comparator">
                    <div class="sun3">WED</div>
                  </div>
                  <div class="comparator1">
                    <div class="div21">29</div>
                  </div>
                  <div class="comparator2">
                    <div class="sorter">05</div>
                    <div class="filter">
                      <div class="accumulator"></div>
                    </div>
                  </div>
                  <div class="aggregator">
                    <div class="transformer1">12</div>
                  </div>
                  <div class="compressor">
                    <div class="expander">19</div>
                    <img
                      class="compressor-child"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="validator">
                    <div class="verifier">26</div>
                  </div>
                  <div class="interpreter">
                    <div class="parser">02</div>
                  </div>
                </div>
                <div class="calendar5">
                  <div class="sun-container">
                    <div class="sun4">THU</div>
                  </div>
                  <div class="stack-manager-wrapper">
                    <div class="stack-manager">30</div>
                  </div>
                  <div class="parent6">
                    <div class="div22">06</div>
                    <div class="ellipse-container">
                      <div class="frame-child7"></div>
                    </div>
                  </div>
                  <div class="wrapper3">
                    <div class="div23">13</div>
                  </div>
                  <div class="parent7">
                    <div class="div24">20</div>
                    <img
                      class="frame-child8"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="wrapper4">
                    <div class="div25">27</div>
                  </div>
                  <div class="wrapper5">
                    <div class="div26">03</div>
                  </div>
                </div>
                <div class="calendar6">
                  <div class="sun-frame">
                    <div class="sun5">FRI</div>
                  </div>
                  <div class="value-combiner-wrapper">
                    <div class="value-combiner">31</div>
                  </div>
                  <div class="layer-organizer-parent">
                    <div class="layer-organizer">07</div>
                    <div class="size-adjustor1">
                      <div class="color-coordinator"></div>
                    </div>
                  </div>
                  <div class="alignment-aligner-wrapper">
                    <div class="alignment-aligner">14</div>
                  </div>
                  <div class="distance-determiner">
                    <div class="div27">21</div>
                    <img
                      class="distance-determiner-child"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="position-placer-wrapper">
                    <div class="position-placer">28</div>
                  </div>
                  <div class="orientation-orienter">
                    <div class="scale-scaler">04</div>
                  </div>
                </div>
                <div class="calendar7">
                  <div class="symbol-symbolizer">
                    <div class="sun6">SAT</div>
                  </div>
                  <div class="wrapper6">
                    <div class="div28">01</div>
                  </div>
                  <div class="circle-circler">
                    <div class="div29">08</div>
                    <div class="circle-circler-inner">
                      <div class="frame-child9"></div>
                    </div>
                  </div>
                  <div class="image-imageholder">
                    <div class="div30">15</div>
                  </div>
                  <div class="path-pathway-parent">
                    <div class="path-pathway">22</div>
                    <img
                      class="frame-child10"
                      alt=""
                      src="../static/images/public/group-12.svg"
                    />
                  </div>
                  <div class="layer-layered">
                    <div class="mask-masker">29</div>
                  </div>
                  <div class="blend-blender">
                    <div class="effect-effector">05</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent22">
              <div class="message-wrapper">
                <b class="message">Message</b>
              </div>
              <div class="cardmessage">
                <img
                  class="cardmessage-child"
                  loading="lazy"
                  alt=""
                  src="../static/images/public/group-13.svg"
                />

                <div class="john-doe-parent">
                  <h3 class="john-doe">John Doe</h3>
                  <div class="hi-angelina-how">Hi Angelina! How are you?</div>
                </div>
              </div>
              <div class="frame-parent23">
                <img
                  class="instance-child"
                  alt=""
                  src="../static/images/public/group-13-1.svg"
                />

                <div class="john-doe-group">
                  <h3 class="john-doe1">Courtney Henry</h3>
                  <div class="hi-angelina-how1">Do you need that design?</div>
                </div>
              </div>
              <div class="frame-parent24">
                <img
                  class="instance-item"
                  alt=""
                  src="../static/images/public/group-13-2.svg"
                />

                <div class="john-doe-container">
                  <h3 class="john-doe2">Jerome Bell</h3>
                  <div class="hi-angelina-how2">
                    What is the price of hourly...
                  </div>
                </div>
              </div>
              <div class="frame-parent25">
                <img
                  class="instance-inner"
                  alt=""
                  src="../static/images/public/group-13-3.svg"
                />

                <div class="john-doe-parent1">
                  <h3 class="john-doe3">Arlene McCoy</h3>
                  <div class="hi-angelina-how3">Awesome!!</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $('#dropdownTrigger').click(function(event) {
    event.preventDefault();
    var content = $('#dropdownContent');
    if (content.css('top') === '0%') {
      content.css('top', '-100%');
    } else {
      content.css('top', '0%');
    }
  });
</script>
</html>