{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script defer src="../static/js/script.js"></script>
    <title> Registration Form & login form</title>
  </head>
  <body>
 
     {% if messages %}
<div class="messages">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {% if message.tags == 'success' %}
        <i class="fas fa-check-circle"></i> {% elif message.tags == 'info' %}
        <i class="fas fa-info-circle"></i> {% elif message.tags == 'warning' %}
        <i class="fas fa-exclamation-triangle"></i> {% elif message.tags == 'error' %}
        <i class="fas fa-times-circle"></i> {% endif %}
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}
     
    <div class="container" id="container">

         
      <div class="form-container sign-up">
        <form method="post" action="{% url 'signup' %}">
             {% csrf_token %}
             
          <h1>Create Account</h1>
          <div class="social_icons">
            <a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          </div>
          <span>Or use your email for registration</span>
          <input type="text" placeholder="name" name="name" />
          <input type="email" placeholder="email" name="email" />
          <input type="password" placeholder="password" name="password" />
          <button type="submit">Sign Up</button>
        </form>
      </div>
<!--===========Login Form -->
      <div class="form-container sign-in">
        <form method="post">
             {% csrf_token %}
             
          <h1>Sign In</h1>
          <div class="social_icons">
            <a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          </div>
          <span>or use your email & password</span>
          <input type="email" placeholder="email" name="email" />
          <input type="password" placeholder="password" name="password" />
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter Your Personal Details to use All site Features!</p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello Friends</h1>
            <p>
              Register With your personal details to use all of site features
            </p>
            <button class="hidden" id="register" type="submit">Sign Up</button>
              
          </div>
        </div>
      </div>
    </div>
  </body>
</html>