<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Task Details - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
<!-- Your CSS styles here -->
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/nav.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
</head>
<body>




<header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">Logo</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="/index" class="nav__link">Dashboard</a>
                  </li>

                  <li class="nav__item">
                     <a href="/add-task" class="nav__link">Add Task</a>
                  </li>

                  <li class="nav__item">
                     <a href="/upload" class="nav__link">Add file</a>
                  </li>

                  <li class="nav__item">
                     <a href="/task" class="nav__link">Show Task</a>
                  </li>

                  <li class="nav__item">
                     <a href="/upload" class="nav__link">Show File</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                <a href="/logout"><i class="ri-close-line"></i></a>
</div>
            </div>

            <div class="nav__actions">
               <!-- Search button -->


               <!-- Login button -->



               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>



<div class="container">
<div class="col-md-12 col-12 col-sm-12">
<div class="card">
<div class="card-header">
<h4>Task Details</h4>
</div>
<div class="card-body" style="    margin-top: 100px;">
<div class="table-responsive">
<table class="table table-striped">
<tbody><tr>
<th class="text-center">
<div class="custom-checkbox custom-checkbox-table custom-control">
<input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
<label for="checkbox-all" class="custom-control-label">&nbsp;</label>
</div>
</th>
<th>Task Name</th>
<th>Progress</th>
<th>Due Date</th>
<th>priority</th>
<th>Action</th>
</tr>
{% for task in tasks %}
<tr>
<td class="p-0 text-center">
<div class="custom-checkbox custom-control">


</div>
</td>
<td>{{ task.title }}</td>
<td class="align-middle">
<span class="{{ task.completed|yesno:'text-success,text-danger' }}">{{ task.completed|yesno:'Completed,Incomplete' }}</span>
</td>
<td>{{ task.due_date }}</td>
<td class="{% if task.priority == 'Low' %}priority-low{% elif task.priority == 'Normal' %}priority-normal{% elif task.priority == 'Urgent' %}priority-high{% endif %}">
    {{ task.priority }}
</td>
<td>
    <img width="48" height="48" src="https://img.icons8.com/color/48/task-completed.png" alt="task-completed" onclick="window.location.href = '/complete-task/{{ task.id }}'"/>
    <a href="/delete-task/{{task.id}}"><button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></button></a>
</td>
</tr>
{% endfor %}
</tbody></table>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
// Your JavaScript here
</script>
</body>
</html>